@mixin media-medium {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin media-small {
    @media (max-width: 320px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
button:active,
button:focus {
    outline: none;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, .2), 0 0 25px rgb(0, 0, 0, .2), 0 0 5px rgb(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url('../images/overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    transition: background-image .5s linear;
    overflow: hidden;
}

.main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.top-container {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-shadow: none;
    z-index: 2;
    cursor: default;

    @include media-medium {
        align-self: center;
    }
}

.center-container {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}

.bottom-container {
    flex-basis: 15%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.weather {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, .85);
    color: #474747;
    padding: 10px 20px;
    border-radius: 5px;

    &__city {}

    &__info-top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__ico {
        font-size: 8rem;
    }

    &__temp {
        font-size: 5rem;
        margin-left: 10px;
    }

    &__description {
        font-size: 2rem;
        padding-bottom: 5px;
    }

    &__info-bottom {
        border-top: 2px solid rgb(224, 224, 224);
        font-size: 1.7rem;
        padding-top: 5px;

        & span:first-child {
            margin-right: 5px;
        }
    }
}

.date-time {
    cursor: default;
}

.time {
    font-size: 16rem;
    line-height: 16rem;

    @include media-medium {
        font-size: 20vw;
        line-height: 20vw;
    }
}

.date {}

.greeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 6rem;

    &__text {
        white-space: nowrap;
        cursor: default;
    }

    &__name {
        position: relative;
        padding: 0 20px 0 12px;
        border-radius: 5px;
        background-color: transparent;
        transition: .3s linear;

        &:after {
            content: '';
            display: none;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(calc(-50% - 10px));
            width: 5px;
            height: 5px;
            background-color: rgba(255, 255, 255, .5);
            border-radius: 50%;
            box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px 0px rgba(255, 255, 255, .5);
        }

        &:hover {
            background-color: rgb(255, 255, 255, .1);

            &:after {
                display: block;
            }
        }
    }
}

.focus {
    display: flex;
    flex-direction: column;

    &__question {
        font-size: 3.5rem;
        cursor: default;
    }

    &__text {
        position: relative;
        display: inline-block;
        align-self: center;
        padding: 0 20px 0 10px;
        //border-bottom: 1px solid white;
        font-size: 3.5rem;
        border-radius: 5px;
        background-color: transparent;
        transition: .3s linear;

        &:after {
            content: '';
            display: none;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(calc(-50% - 10px));
            width: 5px;
            height: 5px;
            background-color: rgba(255, 255, 255, .5);
            border-radius: 50%;
            box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px 0px rgba(255, 255, 255, .5);
        }

        &:hover {
            background-color: rgb(255, 255, 255, .1);

            &:after {
                display: block;
            }
        }
    }
}

.navigation-buttons {
    flex-basis: 10%;
    display: flex;
    align-items: flex-end;
}

.info {
    flex-basis: 10%;
    display: flex;
    align-items: flex-end;
}

.quote {
    flex-basis: 80%;
    width: 60%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        cursor: default;
    }

    &__text {
        font-size: 2rem;
        margin: 0 10px 5px 10px;
    }

    &__author {
        font-size: 1.5rem;
    }

    &__refresh-button {
        width: 38px;
        height: 38px;
        border: none;
        border-radius: 50%;
        padding: 5px;
        background-color: transparent;
        transition: .2s linear;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
            background-color: rgb(255, 255, 255, .2);
        }

        & img {
            width: 100%;
        }
    }
}