@keyframes move {
  0% {
    right: 20px;
  }
  100% {
    right: 30px;
  }
}
@keyframes size {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 55px;
    height: 55px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
button:active,
button:focus {
  outline: none;
}

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  z-index: 1001;
  color: #eee;
}
.preloader img {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
}
.preloader.loaded_hiding {
  transition: 0.3s opacity;
  opacity: 0;
}
.preloader.loaded {
  display: none;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 25px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s linear;
  overflow: hidden;
}
@media (max-width: 800px) {
  .main {
    padding: 10px;
  }
}
@media (max-width: 640px) {
  .main {
    padding: 5px;
  }
}

.main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/overlay.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.top-container {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-shadow: none;
  z-index: 2;
  cursor: default;
}
@media (max-width: 800px) {
  .top-container {
    flex-basis: 10%;
    align-self: center;
  }
}

.center-container {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}
@media (max-width: 800px) {
  .center-container {
    flex-basis: 65%;
  }
}
@media (max-width: 640px) {
  .center-container {
    flex-basis: 60%;
  }
}

.bottom-container {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
@media (max-width: 800px) {
  .bottom-container {
    margin-bottom: 90px;
    flex-basis: 25%;
  }
}
@media (max-width: 640px) {
  .bottom-container {
    flex-basis: 30%;
  }
}

.weather {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 2rem;
  color: #474747;
  padding: 10px 20px;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .weather {
    min-width: auto;
  }
}
@media (max-width: 640px) {
  .weather {
    padding: 8px;
  }
}
.weather__info-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.weather__info-top__ico-tepm {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .weather__info-top__ico-tepm {
    align-items: flex-start;
  }
}
@media (max-width: 800px) {
  .weather__info-top {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.weather__city {
  font-size: 4rem;
  cursor: auto;
}
@media (max-width: 800px) {
  .weather__city {
    font-size: 2rem;
    padding-right: 10px;
  }
}
@media (max-width: 640px) {
  .weather__city {
    font-size: 1.9rem;
  }
}
.weather__ico {
  font-size: 8rem;
}
@media (max-width: 800px) {
  .weather__ico {
    font-size: 3rem;
  }
}
@media (max-width: 640px) {
  .weather__ico {
    font-size: 1.9rem;
  }
}
.weather__temp {
  font-size: 5rem;
  margin-left: 10px;
}
@media (max-width: 800px) {
  .weather__temp {
    margin-left: 2px;
    font-size: 2rem;
    padding-right: 10px;
  }
}
@media (max-width: 640px) {
  .weather__temp {
    font-size: 1.9rem;
  }
}
.weather__description {
  font-size: 2rem;
  padding-bottom: 5px;
}
@media (max-width: 800px) {
  .weather__description {
    padding-bottom: 0;
  }
}
@media (max-width: 640px) {
  .weather__description {
    font-size: 1.9rem;
  }
}
.weather__info-bottom {
  border-top: 2px solid #e0e0e0;
  font-size: 1.5rem;
  padding-top: 5px;
}
.weather__info-bottom > * {
  white-space: nowrap;
}
.weather__info-bottom span:first-child {
  margin-right: 5px;
}

.date-time {
  cursor: default;
}

.time {
  font-size: 16rem;
  line-height: 16rem;
}
@media (max-width: 800px) {
  .time {
    font-size: 20vw;
    line-height: 20vw;
  }
}

.date {
  font-size: 3rem;
}
@media (max-width: 640px) {
  .date {
    font-size: 2rem;
  }
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 6rem;
}
@media (max-width: 800px) {
  .greeting {
    font-size: 8vw;
  }
}
@media (max-width: 640px) {
  .greeting {
    font-size: 9vw;
  }
}
.greeting__text {
  padding-left: 20px;
  white-space: nowrap;
  cursor: default;
}
.greeting__name {
  position: relative;
  padding: 0 20px 0 12px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.3s linear;
}
.greeting__name:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(calc(-50% - 10px));
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, 0.5), 0px 20px 0px 0px rgba(255, 255, 255, 0.5);
}
.greeting__name:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.greeting__name:hover:after {
  display: block;
}

.focus {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
}
@media (max-width: 800px) {
  .focus {
    font-size: 3rem;
  }
}
@media (max-width: 640px) {
  .focus {
    font-size: 2.5rem;
  }
}
.focus__question {
  cursor: default;
}
.focus__text {
  position: relative;
  display: inline-block;
  align-self: center;
  padding: 0 20px 0 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.3s linear;
}
.focus__text:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(calc(-50% - 10px));
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, 0.5), 0px 20px 0px 0px rgba(255, 255, 255, 0.5);
}
.focus__text:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.focus__text:hover:after {
  display: block;
}

.button-next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-image: url("../images/icons/next-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.7;
  transition: 0.2s linear;
  animation: move 0.8s 1s infinite alternate;
  cursor: pointer;
  z-index: 3;
}
@media (max-width: 800px) {
  .button-next {
    width: 50px;
    height: 50px;
    top: auto;
    bottom: 25px;
    right: 50%;
    transform: translateX(50%);
    animation: size 0.8s 1s infinite alternate;
  }
}
.button-next:hover {
  opacity: 1;
  animation-play-state: paused;
}

.quote {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .quote {
    max-width: 100%;
  }
}
.quote__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: default;
}
.quote__text {
  font-size: 2rem;
  margin: 0 10px 5px 10px;
}
@media (max-width: 800px) {
  .quote__text {
    font-size: 1.8rem;
  }
}
@media (max-width: 640px) {
  .quote__text {
    font-size: 1.6rem;
    margin: 0 0 5px 0;
  }
}
.quote__author {
  font-size: 1.5rem;
}
.quote__refresh-button {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: transparent;
  transition: 0.2s linear;
  opacity: 0.8;
  cursor: pointer;
}
.quote__refresh-button:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}
.quote__refresh-button img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
