@mixin media-medium {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin media-small {
    @media (max-width: 640px) {
        @content;
    }
}

@keyframes move {
    0% {
        right: 20px;
    }

    100% {
        right: 30px;
    }
}

@keyframes size {
    0% {
        width: 50px;
        height: 50px;
    }

    100% {
        width: 55px;
        height: 55px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
button:active,
button:focus {
    outline: none;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, .2), 0 0 25px rgb(0, 0, 0, .2), 0 0 5px rgb(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url('../images/overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s linear;
    overflow: hidden;

    @include media-medium {
        padding: 10px;
    }

    @include media-small {
        padding: 5px;
    }
}

.main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.top-container {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-shadow: none;
    z-index: 2;
    cursor: default;

    @include media-medium {
        flex-basis: 10%;
        align-self: center;
    }
}

.center-container {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;

    @include media-medium {
        flex-basis: 65%;
    }

    @include media-small {
        flex-basis: 60%;
    }
}

.bottom-container {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;

    @include media-medium() {
        margin-bottom: 90px;
        flex-basis: 25%;
    }

    @include media-small() {
        flex-basis: 30%;
    }
}

.weather {
    min-width: 200px;
    //flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, .85);
    color: #474747;
    padding: 10px 20px;
    border-radius: 5px;

    @include media-medium {
        min-width: auto;
    }

    @include media-small {
        padding: 8px;
    }

    &__info-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        &__ico-tepm {
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-medium {
                align-items: flex-start;
            }
        }

        @include media-medium {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__city {
        font-size: 4rem;

        @include media-medium {
            font-size: 2rem;
            padding-right: 10px;
        }

        @include media-small {
            font-size: 1.9rem;
        }
    }

    &__ico {
        font-size: 8rem;

        @include media-medium {
            font-size: 3rem;
        }

        @include media-small {
            font-size: 1.9rem;
        }
    }

    &__temp {
        font-size: 5rem;
        margin-left: 10px;

        @include media-medium {
            margin-left: 2px;
            font-size: 2rem;
            padding-right: 10px;
        }

        @include media-small {
            font-size: 1.9rem;
        }
    }

    &__description {
        font-size: 2rem;
        padding-bottom: 5px;

        @include media-medium {
            padding-bottom: 0;
        }

        @include media-small {
            font-size: 1.9rem;
        }
    }

    &__info-bottom {
        border-top: 2px solid rgb(224, 224, 224);
        font-size: 1.5rem;
        padding-top: 5px;

        &>* {
            white-space: nowrap;
        }

        & span:first-child {
            margin-right: 5px;
        }
    }
}

.date-time {
    cursor: default;
}

.time {
    font-size: 16rem;
    line-height: 16rem;

    @include media-medium {
        font-size: 20vw;
        line-height: 20vw;
    }
}

.date {
    font-size: 3rem;

    @include media-small {
        font-size: 2rem;
    }
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 6rem;

    @include media-medium {
        font-size: 8vw;
    }

    @include media-small {
        font-size: 9vw;
    }

    &__text {
        white-space: nowrap;
        cursor: default;
    }

    &__name {
        position: relative;
        padding: 0 20px 0 12px;
        border-radius: 5px;
        background-color: transparent;
        transition: .3s linear;

        &:after {
            content: '';
            display: none;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(calc(-50% - 10px));
            width: 5px;
            height: 5px;
            background-color: rgba(255, 255, 255, .5);
            border-radius: 50%;
            box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px 0px rgba(255, 255, 255, .5);
        }

        &:hover {
            background-color: rgb(255, 255, 255, .1);

            &:after {
                display: block;
            }
        }
    }
}

.focus {
    display: flex;
    flex-direction: column;
    font-size: 3.5rem;

    @include media-medium {
        font-size: 3rem;
    }

    @include media-small {
        font-size: 2.5rem;
    }

    &__question {
        cursor: default;
    }

    &__text {
        position: relative;
        display: inline-block;
        align-self: center;
        padding: 0 20px 0 10px;
        //border-bottom: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        transition: .3s linear;

        &:after {
            content: '';
            display: none;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(calc(-50% - 10px));
            width: 5px;
            height: 5px;
            background-color: rgba(255, 255, 255, .5);
            border-radius: 50%;
            box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, .5), 0px 20px 0px 0px rgba(255, 255, 255, .5);
        }

        &:hover {
            background-color: rgb(255, 255, 255, .1);

            &:after {
                display: block;
            }
        }
    }
}

.button-next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-image: url('../images/icons/next-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: .7;
    transition: .2s linear;
    animation: move .8s 1s infinite alternate;
    cursor: pointer;
    z-index: 3;

    @include media-medium {
        width: 50px;
        height: 50px;
        top: auto;
        bottom: 25px;
        right: 50%;
        transform: translateX(50%);
        animation: size .8s 1s infinite alternate;
    }

    &:hover {
        opacity: 1;
        animation-play-state: paused;
    }
}

.quote {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-medium {
        max-width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        cursor: default;
    }

    &__text {
        font-size: 2rem;
        margin: 0 10px 5px 10px;

        @include media-medium {
            font-size: 1.8rem;
        }

        @include media-small {
            font-size: 1.6rem;
            margin: 0 0 5px 0;
        }
    }

    &__author {
        font-size: 1.5rem;
    }

    &__refresh-button {
        width: 38px;
        height: 38px;
        border: none;
        border-radius: 50%;
        padding: 5px;
        background-color: transparent;
        transition: .2s linear;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
            background-color: rgb(255, 255, 255, .2);
        }

        & img {
            width: 100%;
        }
    }
}